<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>No Chord</key>
	<string>xxxxxx</string>
	<key>A</key>
	<string>x22222</string>
	<key>Am</key>
	<string>x22212</string>
	<key>Am/E</key>
	<string>22221x</string>
	<key>A7</key>
	<string>x22225</string>
	<key>Bm</key>
	<string>x44434</string>
	<key>C</key>
	<string>x55555</string>
	<key>C7</key>
	<string>x55558</string>
	<key>Cm</key>
	<string>x55545</string>
	<key>C/G</key>
	<string>555555</string>
	<key>D</key>
	<string>xx0234</string>
	<key>Dm/F</key>
	<string>xx3233</string>
	<key>Dm/G</key>
	<string>x03230</string>
	<key>D7</key>
	<string>x7777A</string>
	<key>E</key>
	<string>xx2102</string>
	<key>Em</key>
	<string>202002</string>
	<key>Em/B</key>
	<string>99998x</string>
	<key>F</key>
	<string>xx3213</string>
	<key>Fm</key>
	<string>313113</string>
	<key>F#m</key>
	<string>xx4224</string>
	<key>G</key>
	<string>545435</string>
	<key>Gm</key>
	<string>535335</string>
	<key>G7</key>
	<string>x00003</string>
	<key>Gmaj9</key>
	<string>x0020x</string>
</dict>
</plist>
